body
{
  font-family: 'Roboto', sans-serif;

}
.container
{
 
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    width: 100%;
}


.custom-btn
{
  background-color: none;
}

.card {
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3),
              -5px -5px 7px rgba(255, 255, 255, 0.3);
  
  }



  .card-icon {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 14px;
  }

  .card-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }

  .card-link:hover {
    color: #ffffff;
    
  }

  button
  {
    width: 10px;
    height: 10px;
  }
  .custom-btn {
    font-size: 12px;  /* Adjust the font size as needed */
    padding: 5px 10px; /* Adjust the padding as needed */
  }
  
  